<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <!-- Nav Bar & logo -->
  <div class="Header">
    <div class="gfLogo">
      <a href="/"><img class="gfLogo" src="/imgs/gluten-free-logo.jpg" /></a>
    </div>
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">SEI Student Fun Facts</a>
        <!-- Add login UI here -->
        <ul class="right">
          <li>
            <% if (user) { %>
              <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Recipes</a>
    </div>
  </div>

  <!-- Background Video -->
  <div class="video">
    <video playsinline autoplay muted loop id="bgvid">
      <source src="imgs/gf-background.mp4" type="video/mp4">
    </video>
  </div>
</body>

</html>