<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <h1>Gluten Free Main Page</h1>
  <a href="/auth/">Login</a>
  <a href="/auth/">Register</a>
  <a href="/recipes/">Gluten Free Recipes</a>
</body>

</html>