<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <div id="mainIndexHeader">
    <div class="gfLogo">
      <a href="/"><img class="gfLogo" src="imgs/gluten-free-logo.jpg" /></a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/auth/">Login</a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/auth/">Register</a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Recipes</a>
    </div>
  </div>
  <hr>
  <div class="video">
    <video playsinline autoplay muted loop id="bgvid">
      <source src="imgs/gf-background.mp4" type="video/mp4">
    </video>
  </div>
</body>

</html>