<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <div class="Header">
    <div class="gfLogo">
      <a href="/"><img class="gfLogo" src="/imgs/gluten-free-logo.jpg"></a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/new">Add a Recipe</a>
    </div>

    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Log Out</a>
    </div>
  </div>
  <h4>Add Recipe</h4>

  <form action="/recipes" method="POST">
    <input type="text" name="name" id="recName" placeholder="Recipe Name" />
    <textarea name="instructions">
      Enter your recipe information. You can also drag and drop images.
    </textarea>
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        width: 900,
        height: 1800
      });
    </script>

    <input type="submit" value="Add Recipe" />
    <a href="/recipes">back</a>
  </form>
</body>

</html>