<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <h1>Gluten Free Recipes - New Recipe</h1>

  <form action="/recipes" method="POST">
    <input type="text" name="name" id="recName" placeholder="Recipe Name" />
    <!-- <textarea name="instructions" rows="4" cols="10"></textarea> -->
    <textarea name="instructions">
      Enter your recipe information. You can also drag and drop images.
    </textarea>
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        width: 900,
        height: 1800
      });
    </script>

    <input type="submit" value="Add Recipe" />
    <a href="/recipes">back</a>
  </form>
</body>

</html>