<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <h1>Gluten Free Recipes - New Recipe</h1>

  <form action="/recipes" method="POST">
    this is the input box
    <input type="text" name="name" id="recName" placeholder="Recipe Name" />
    <input type="submit" value="Add Recipe" />
    <a href="/recipes">back</a>
  </form>

</body>

</html>