<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <div class="Header">
    <div class="gfLogo">
      <a href="/"><img class="gfLogo" src="/imgs/gluten-free-logo.jpg" /></a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/new">Add a Recipe</a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/<%= recipe._id %>/edit">Edit Your Recipe</a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Log Out</a>
    </div>
  </div>
  <h4>
    <%= recipe.name %>
  </h4>
  <textarea>
    <%= recipe.instructions %>
  </textarea>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advcode export formatpainter linkchecker autolink lists checklist powerpaste tinycomments tinymcespellchecker',
      toolbar: 'addcomment showcomments casechange checklist code export',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      width: 900,
      height: 1800
    });
  </script>


</body>

</html>