<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <h1>Glute Free Recipes - Show Recipe</h1>

  <a href="/recipes/new/">new recipe</a>

  <h1>
    <%= recipe.name %>
  </h1>

</body>

</html>